import os
basedir = os.path.abspath(os.path.dirname(__file__))

CSRF_ENABLED = True
SECRET_KEY = 'SECRET KEY GOES HERE'

MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_USERNAME = 'GMAIL_USERNAME'
MAIL_PASSWORD = 'GMAIL_PASSWORD'

SQLALCHEMY_DATABASE_URI = 'mysql+mysqldb://UESRNAME:PASSWORDb@localhost/DBNAME'

ADMINS = ['ADMIN_EMAIL']
