html, body			{ 	padding: 0; margin: 0; }

body				{	font: normal 16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
						padding-bottom: 200px;}

a					{text-decoration: none; color: #686868}

#header 			{	margin-left: auto; margin-right: auto; margin-top: 60px; width: 800px;}
#triangle  			{	margin-top: 30px;border-top: solid #EDEDED 3px}
.arrow-down 		{	margin-left: auto; margin-right: auto; width: 0; height: 0; border-left: 35px solid white; border-right: 35px solid white; border-top: 15px solid #EDEDED;}

#banner {
    position:fixed;
    top:0;
    width:100%;
    padding: 0;
    z-index:100;
    height: 40px;
    background: black;
    color: #FFF;
}

.navbutton, #user-info {
    display: inline-block;
    color: #FFF;
    border: 0px;
    background-color: black;        
    text-align: right;
}

.navbutton {
	float: right;
	margin-right: 10px;
	height: 40px;
}

#user-info {
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	float: left;
}

.navbutton:hover {
        background-color: #90A328;
}

.contentholder		{	margin-left: auto; margin-right: auto; width: 900px; color: #696969;}
.contentholder h2	{	font: normal 24px "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
						text-align: center; margin-bottom: 30px; margin-top: 10px; color: black;}
.formheader			{	text-align: left;}
.formheader h2		{	font-size: 28px; text-align: left; margin-bottom: 60px; margin-top: 10px; color: #AFBF45;}
.formheader h3		{	font: normal 22px "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
						text-align: left; margin-bottom: 20px; margin-top: 50px; color: #AFBF45;}				

#buttonholder		{	margin: 60px auto 0px auto; width: 1085px; height: 270px;}
.componentbutton	{	display: inline-block; width: 280px; height: 50px; background: #D2D2D2; 
						text-align: center; vertical-align: top; padding-top: 25px; margin-left:5px; margin-right: 5px;
						font-size: 24px; font-weight: bold; overflow: hidden;
						-webkit-transition: All 0.5s ease;-moz-transition: All 0.5s ease;-o-transition: All 0.5s ease;-ms-transition: All 0.5s ease; transition: All 0.5s ease;	}
.componentbutton:hover	{height: 125px; background: #AFBF45; display: inline-block;
						font-size: 24px; font-weight: bold;}
.shortened			{ 	width: 230px;}
.details			{	background: #89952F; height: 60px; margin-top: 20px; padding-top:10px; padding-bottom: 5px;font-size: 20px; font-weight: normal; vertical-align: middle}
#buttonholder a		{	color: white; overflow: hidden; }

.advance			{   text-align: left; position: absolute; right: 130px; 100px;
						height: 70px; width: 360px; border: 1px solid #AFBF45; color: #686868; padding: 6px 25px 10px 25px;
						box-shadow:0 0 1px #AFBF45;-moz-box-shadow:0 0 1px #AFBF45;-webkit-box-shadow:0 0 1px #AFBF45;}
#finished			{	display:block; font-size: 36px; font-weight: 800;}


#loginbox			{	text-align: center; font-size: 20px; margin-top: 70px;}
label				{   text-align: right; font-weight: bold; font-size: 20px; color: #686868;}
input[type="text"], input[type="password"], input[type="email"]	{	border: 0px; text-align: left; width: 400px; height:40px; margin-left: 20px; padding-left: 10px; font-size: 20px; background: #F6F6F6}
#loginbox button	{	border: 0px; margin: 70px 5px 20px 5px; width: 290px; height: 45px; text-align: center; font-weight: bold; font-size: 22px; color: white; background: #afbf45}
#forgot				{	color: #686868; font-size: 18px;}
textarea			{	border: 0px; padding: 10px; font-size: 20px; background: #F6F6F6; height:150px; width:950px; margin-bottom: 30px; resize: none; overflow: hidden}


.textfield_container {height: 400px; width: 1100px;}
.textfield_container input {width: 300px;}
.col1		{display:inline-block; text-align:right;}
.col2		{display: inline-block; text-align: right; margin-left: 50px; }


.recommenderbox input { width: 300px; font-size: 20px;}
.recommenderbox textarea { width: 350px; height: 150px}
.recommender_shortanswer {margin-left: 50px; display: inline-block; vertical-align: top; padding-top: 20px;}


#shortanswers label {font-size: 18px;}
#shortanswers textarea {margin-bottom: 50px;}


.graylink			{font-size: 16px}

#techform			{	width: 800px; display: block;}
.techsection		{	margin-bottom: 60px;}
.mcquestion			{	list-style-type: none; background: #F6F6F6; text-align: center; font-size: 18px; margin-top: 30px; padding: 10px 20px 10px 20px;}
#techform p			{	padding-top: 5px; margin:0px;}

.mcquestion label 	{	font-size: 18px; cursor: pointer; margin-right: 50px; position: relative;	padding-left: 30px;}
.mcquestion label:before {content: ""; width: 20px; height: 20px; border-radius: 12px; background: #EBEBEB; border: 2px solid #D2D2D2; position: absolute; margin-right:10px;}
input[type=radio] 	{	display: none;}
input[type=radio]:checked + label:before { background: #AFBF45;}

.checkitem			{	list-style-type: none; background: #F6F6F6; text-align: left; font-size: 18px; margin-top: 30px; padding: 10px 20px 10px 20px;}
.understand			{	font-size: 20px; font-weight: bold;}

input[type=checkbox] {display:none}


.checkitem label 	{ font-size: 20px; cursor: pointer; margin-right: 50px;  position: relative; padding-top: 5px; padding-left: 40px;}
.checkitem label:before {content: ""; border-radius: 3px; background: #EBEBEB; border: 2px solid #D2D2D2; position: absolute; width: 30px; height: 30px; margin-right: -5px;}
input[type=checkbox]:checked + label:before { content:"\2715";color: #EBEBEB;	text-shadow: 1px 1px 1px rgba(0,0,0, .2); 	font-size: 36px;	background: #AFBF45; text-align: center;	line-height: 32px;}

#recommendapplicant textarea {width: 840px; height: 100px; background: white; margin-left: 0px; margin-bottom: 0px;}
#recommendapplicant .mcquestion {text-align: left; padding-top: 20px;}
.justmc 			{ margin-top: 40px; margin-bottom: 50px;}
.explain			{ text-align: left; margin-top: 40px;}


#namebuttonholder		{	margin: 60px auto 0px auto; width: 900px;}
.namebutton				{	display: block; width: 350px; height: 30px; background: #D2D2D2; 
							text-align: center; padding: 15px; margin-left:auto; margin-right: auto; margin-bottom: 10px;
							font-size: 24px; font-weight: bold; overflow: hidden;
							-webkit-transition: All 0.5s ease;-moz-transition: All 0.5s ease;-o-transition: All 0.5s ease;-ms-transition: All 0.5s ease; transition: All 0.5s ease;	}
.namebutton:hover		{background: #AFBF45}
#namebuttonholder .details				{	background: #89952F; color: white; height: 60px; margin-top: 20px; padding-top:10px; padding-bottom: 5px;font-size: 20px; font-weight: normal}
#namebuttonholder a		{	color: white; overflow: hidden; }
