<!doctype html>
<html>
	<head>
		<title>Student Application - Code for Progress</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	
<body>
	<div id="banner">
		<a href="{{ url_for('help') }}"><button class="navbutton">Get help</button></a>
	{% if current_user.is_authenticated() %}
		<a href="{{ url_for('index') }}"><button class="navbutton">My application</button></a>
		<a href="{{ url_for('logout') }}"><button class="navbutton">Log out</button></a>
		<span id="user-info">User: {{ current_user }}</span>
	{% else %}
		<a href="{{ url_for('login') }}"><button class="navbutton">Log in</button></a>
	{% endif %}
	</div>

	<div id="header">
		<img src="../static/CFPlogo.jpg">
		<div id="triangle"><div class="arrow-down"></div></div>
	</div>

	<br><br>

	{% block content %} {% endblock %}
</body>
</html>
