{% extends "base.html" %}
{% block content %}

	<div class="contentholder">
		{% if current_user.profile_complete() and current_user.short_questions_complete() and current_user.tech_questions_complete() and current_user.recommendations_complete() %}
			<div class="formheader"><h2>Congratulations!</h2></div>
			<p>Looks like all of your sections are complete.</p>
			</div>
			<br><br><br><br>
			<a href="{{url_for('received')}}">
				<button class="advance" type="button">
					<span id="finished">SUBMIT</span>Click to submit your completed application.
				</button>
			</a>
		{% else %}
			<div class="formheader"><h2>Looks like you still need to finish something.</h2></div>

			{% if not current_user.profile_complete() %}
				<p>You still need to do your <a href="/profile"><b>profile</b></a>. It won't take long.</p>
			{% endif %}

			{% if not current_user.short_questions_complete() %}
				<p>You still need to do your <a href="/shortanswers"><b>short questions</b></a>. It won't take long.</p>
			{% endif %}

			{% if not current_user.tech_questions_complete() %}
				<p>You still need to do your <a href="/techskills"><b>tech survey</b></a>. It won't take long.</p>
			{% endif %}

			{% if not current_user.recommendations_complete() %}
				<p>You still need to do your <a href="/recommendations"><b>recommendations</b></a>. It won't take long.</p>
			{% endif %}

			<br><br><br><br>
			</div></div>
			<a href="{{url_for('index')}}">
				<button class="advance" type="button">
					<span id="finished">GO BACK</span>Click to go back to the main menu.
				</button>
			</a>

			<br><br><br><br>

		{% endif %}
	
{% endblock %}
