{% extends "base.html" %}
{% block content %}


	<div class="contentholder">
		<div class="formheader"><h2>Need help using this site?</h2></div>
		<p>Send an email to <a class="graylink" href="mailto:applications@codeforprogress.org?subject=Forgot login info"><b>applications@codeforprogress.org</b></a>.</p>
		<p>Or join us on a conference call to ask your questions each Thursday through January 9th, at 7:30pm EST/4:30pm PST.

<a class="graylink" target="_blank" href="http://www.codeforprogress.org/call_info/"><b>Click here to get the dial-in number.</b></a></p>

		</div></div>
		<br><br><br><a href="{{url_for('index')}}"><button class="advance" type="button"><span id="finished">OK?</span>Click to go back to the main menu.</button>


	
{% endblock %}
