{% extends "base.html" %}

{% block content %}

{% if current_user.application_complete == 1 %}
	<div class="contentholder">
	<div class="formheader"><h2>Thanks for applying to the 2014 program</h2></div>
	
	<br><br><p>We've received your completed application, and look forward to reading it!
	<p>We'll contact you in February after the selection committee has had time to look through all of our applicants.</p>
	<p>Please check with your recommenders to make sure they've received our email. They have until January 20, 2014, to log in and fill out their recommendations. The recommenders we have listed for you are:
	<ul>
		{% for r in recs %}
		<li>{{r.firstname}} {{r.lastname}} ({{r.email}}) -  {% if r.recommendation_is_complete_for(current_user) %}Recommendation complete! {% else %}Not yet complete {% endif %}
		<br><a href="{{ url_for('myrecommender', recommender_id=r.user_id) }}"><u>Change this recommender's contact info or send them a reminder</u></a>
		<br></li><br>
		{% endfor%}
	</ul>
	</p>
	</div>
{% else %}
	<div class="contentholder">
	<h2>Your Code for Progress application</h2>
	<p>This application has four parts that you need to finish before you can send it to us. The buttons for each section will be gray until you finish answering that section's questions - when the button turns green, you're done!</p>
	
	<p>You can always change what you've written in a section, even if it's marked green, before you send in your final application.</p>

	<p>Remember, <b>January 13th</b> is the application deadline - so we'll need all of your sections and recommender contact info turned in by then. There are instructions about recommendations on the page for that section.</p>
	</div>


<div id="buttonholder">
	<a href="{{ url_for('profile') }}"><div class="componentbutton shortened {% if current_user.profile_complete() %}finished{% endif %}">PROFILE
	<div class="details">Tell us who you are.</div></div></a>
	
	<a href="{{ url_for('shortanswers') }}"><div class="componentbutton {% if current_user.short_questions_complete() %}finished{% endif %}">SHORT ANSWERS
	<div class="details">Tell us how you think.</div></div></a>
	
	<a href="{{ url_for('techskills') }}"><div class="componentbutton shortened {% if current_user.tech_questions_complete() %}finished{% endif %}">TECH SURVEY
	<div class="details">Tell us how you use digital technology.</div></div></a>
	
	<a href="{{ url_for('recommendations') }}"><div class="componentbutton {% if current_user.recommendations_complete() %}finished{% endif %}">RECOMMENDATIONS
	<div class="details">Let other people tell us about you.</div></div></a>
</div></div>

<a href="{{ url_for('finalsubmission') }}">
	<div class="advance">
		<span id="finished">FINISHED?</span>Click here to see if anything's missing.
	</div>
</a>

{% endif %}
{% endblock %}
