<p><br>Hi {{recommender.firstname}},</p>

<p><br>{{student.firstname}} {{student.lastname}} just submitted an application to the 2014 Code for Progress program, and asked that you fill out a recommendation on their behalf before January 27th.</p>

<p><br>To make this process as simple as possible, we've written a short page of questions for you to answer. <a href="http://apply.codeforprogress.org/rec_login">You can get started by visiting the recommender page here</a>, and by logging in with the following info:</p>

<p><br>Email: <b>{{recommender.email}}</b>
<br>Password: <b>{{recommender.password}}</b></p>

<p><br>Code for Progress is a non-profit organization that recruits social justice activists from communities historically excluded from the tech industry and trains them to be professional software developers in the social justice movement. Developers learn to build digital tools that help organizations communicate with, organize, and mobilize their constituencies.</p>

<p><br>Our training starts with 16-weeks of full-time classroom instruction and hands-on learning in Washington DC, and continues with eight months of job placement assistance, mentorship, and community support. You can find out more about our program <a href="http://www.codeforprogress.org/about/program">here</a>, and you can read about what kinds of applicants were' looking for <a href="http://www.codeforprogress.org/apply">here.</a>

<p><br>The insight you have about {{student.firstname}} is extremely valuable to us, so please be as detailed as possible when you provide your responses. If you have any questions, please send us a note at <b>applications@codeforprogress.org.</b></p>

<p><br>Thanks for all you've done to support a Code for Progress applicant - we look forward to reading your recommendation!</p>

<p><br>- The Code for Progress team


<p><code>applications@codeforprogress.org<br>
<a href="http://www.codeforprogress.org">http://www.codeforprogress.org</a></code></p>

<p>Know someone else who would be great for Code for Progress? <a href="http://www.codeforprogress.org/send-this-application">Click here to send them the application.</a></p>
