<p><br>Hi {{student.firstname}},</p>

<p>Thanks for submitting your application to Code for Progress! We can't wait to learn all about you.</p>

<p>But first - today we sent out links for the recommender website to the three recommenders you listed, so we'll give them until January 20th to log in and tell us why you're perfect for this program. You can help them by checking to make sure they received our note.</p>

<p>After we close the application process and gather your recommendations, our selection committee will start reviewing applications. Plan to hear from us in early February about whether you've been selected to move on to Round II: Interviews!</p>

<p>If you have any questions, comments, or curiosity in the meantime, please join us on our Thursday evening call:</p>

<p><b>What</b>: Thursday Code for Progress info call
<br><b>When</b>: 7:30pm EST / 4:30pm PST, now through January 9, 2014
<br><b>Where</b>: Dial 202-609-8606, then enter access code 333#</p>


<br><br>
<p>- The Code for Progress team<p>

<p>--
<code><br>applications@codeforprogress.org
<br>http://www.codeforprogress.org</code></p>

<p>Know someone else who would be great for Code for Progress? <a href=" http://www.codeforprogress.org/send-this-application">Click here to send them the application.</a></p>
