{% extends "recbase.html" %}
{% block content %}

	<div class="contentholder">
		<div class="formheader"><h2>Need help using this site?</h2></div>
		<p>Send an email to <a class="graylink" href="mailto:applications@codeforprogress.org?subject=Forgot login info"><b>applications@codeforprogress.org</b></a>.</p></div>
		<p>Or give us a call at (202) 817-2633.</p>
		
		</div></div>
		<br><br><br><a href="{{url_for('rec_index')}}"><button class="advance" type="button"><span id="finished">OK?</span>Click to go back to the main menu.</button>



{% endblock %}
