{% extends "recbase.html" %}
{% block content %}

		<div id="header">Recommend this applicant {applicant's name here }.
		<p>Please fill out the five questions below. Your answers may be as long or as short as you'd like, as long as they fit in the box provided.
		
		<p>Some questions ask for both a numerical rating and an explanation of that rating. Please fill out both of these parts.</p>
		{%if form.errors %}
			<br><p style="color:red">Looks like something's missing from this recommendation.<br>
			
		{% endif %}
		</div>

		<form action="" method="post" name="recommendations">
		{{form.hidden_tag()}}
			<div id="recbasics" class="recquestions">
		<p><br>On a scale of 1-5 (where 1 means "This applicant doesn't demonstrate this quality at all" and 5 means "This applicant strongly exemplifies this quality"), please rate the applicant on their:</p>
			<ul>
			<li><p>1. Commitment to racial, gender, economic, and/or social justice</p>
				{% for subfield in form.recq1 %}
                <tr><td>{{ subfield.label }}</td><td>{{ subfield }}</td></tr>
				{% endfor %}
				<p><label>Give us an example that explains your rating:</label></p>{{form.recq1ex}}
			</li>
			
			<li><p>2. Creativity in problem solving</p>
				{% for subfield in form.recq2 %}
                <tr><td>{{ subfield.label }}</td><td>{{ subfield }}</td></tr>
				{% endfor %}
				<p><label>Give us an example that explains your rating:</label></p>{{form.recq2ex}}
			</li>

            <li><p>3. Patience in working through obstacles</p>
				{% for subfield in form.recq3 %}
                <tr><td>{{ subfield.label }}</td><td>{{ subfield }}</td></tr>
				{% endfor %}
				<p><label>Give us an example that explains your rating:</label></p>{{form.recq3ex}}
			</li>
			
			<li><p>4. Demonstrated interest in teaching and mentoring others</p>
				{% for subfield in form.recq4 %}
                <tr><td>{{ subfield.label }}</td><td>{{ subfield }}</td></tr>
				{% endfor %}
				<p><label>Give us an example that explains your rating:</label></p>{{form.recq4ex}}
			</li>
			
			<li><p>5. Curiosity around how things work (likes to take things apart, dig into the structure of groups or organizations, find out what "makes people tick")</p>
				{% for subfield in form.recq5 %}
                <tr><td>{{ subfield.label }}</td><td>{{ subfield }}</td></tr>
				{% endfor %}
				<p><label>Give us an example that explains your rating:</label>{{form.recq5ex}}</p>
			</li>
			
			<li><p>6. Demonstrated willingness to ask for help</p>
				{% for subfield in form.recq6 %}
                <tr><td>{{ subfield.label }}</td><td>{{ subfield }}</td></tr>
				{% endfor %}
				<p><label>Give us an example that explains your rating:</label></p>{{form.recq6ex}}
			</li>
			
			<li><p><label>7. We are committed to our students as professionals - but we also want to support them as members of our community. If they are accepted to the program, what is one specific challenge faced by this applicant that we should keep in mind?</label></p>{{form.rec7}}</li>
			<li><p><label>8. What specific things can we do to best support this applicant, if they are accepted to the program?</label>{{form.rec8}}</p></li></ul>

			<br><input type="submit" value="Save this recommendation">
			</div>
		</form>

{% endblock %}
