{% extends "base.html" %}
{% block content %}


<div class="contentholder"><h2>Your Code for Progress recommendation requests</h2>
	<p>These applicants have named you as a recommendation provider, using your <b>person@acme.org</b> email address.</p><p>Please select an applicant to get started.</p></div>
		<div id="namebuttonholder">
			<a href="{{ url_for('recform') }}"><div class="namebutton">Francesca Sutton
			<!--<div class="details">Start this recommendation.</div>--></div></a>
			
			<a href="{{ url_for('recform') }}"><div class="namebutton">Cleo Sims
			<!--<div class="details">Start this recommendation.</div>--></div></a>
			
			<a href="{{ url_for('recform') }}"><div class="namebutton">Stoney Newsome
			<!--<div class="details">Start this recommendation.</div>--></div></a>
			
			<a href="{{ url_for('recform') }}"><div class="namebutton">T.T. Williams
			<!--<div class="details">Start this recommendation.</div>--></div></a>
		</div>

	<br><br><a href="{{ url_for('recreceived') }}"><div class="advance"><span id="finished">FINISHED?</span>Click here to submit your recommendations.</div></a>
</div>


{% endblock %}
