{% extends "base.html" %}
{% block content %}


	<div class="contentholder"><h2>Log in to submit a Code for Progress recommendation</h2></div>

	<div id="loginbox">
			<form action="" method="post" name="login">
				{{form.hidden_tag()}}
				<p><label for="username" id="username">Username</label>{{form.username(size=30)}}</p>
				<p><label for="password" id="password">Password</label>{{form.password(size=30)}}</p>
				<p><button type="submit" value="LOG IN">LOG IN</button></p>
				<p id="forgot">Forgot your username or password? <a href="{{ url_for('recforgot')}}"><u>Click here</a></u>.</p>
			</form>
	</div>
		
			<div class = "loginerror">
		{%if form.errors %}
		<p style="color:red">Looks like there's something missing:<br>
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
				<br><span style="margin-left:15px">- {{ error }}
				{% endfor %}
			{% endfor %}
			</p>
		{% endif %}
	</div>		
		
		
		
		
		
		
		
		
		
		
		
		
		
{%endblock %}
