{% extends "base.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader">
		<h2>Let other people tell us about you.</h2>
	</div>

	<p>We'd like to hear from three people who know you – either at home, at work, or in your community. Try to pick people who know you in different parts of your life, and who know about your passions and your skills. You'll also need to check with them first to see if they are willing to write us an email about you.</p>

	<p>If you give us their name, email address, and phone number, we'll send them some questions about you and let them know how to get us the answers. We may also call them.</p>
	
	<p>After that, you'll just need to check with them to see if they got our email and filled out their recommendations.</p>

	{%if form.errors %}
		<br>
		<p style="color:red">Looks like something's missing from your form:<br>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <br><span style="margin-left:15px">- We'd like to know {{ error }}!</span>
            {% endfor %}
        {% endfor %}
		</p>
	{% endif %}


	<form action="" method="post" name="recommendations">
		{{form.hidden_tag()}}
		<div class="recommenderbox">
			<span class="formheader"><h3>Recommendation 1</h3></span>
			<div class="col1">
				<p>{{ form.rec1firstname.label }}{{ form.rec1firstname }}</p>
				<p>{{ form.rec1lastname.label }}{{ form.rec1lastname }}</p>
				<p>{{ form.rec1email.label }}{{ form.rec1email }}</p>
				<p>{{ form.rec1phone.label }}{{ form.rec1phone }}</p>
			</div>		
			<div class="recommender_shortanswer">
				{{ form.rec1how.label }}<p>{{ form.rec1how }}</p>
			</div>
		</div>


		<div class="recommenderbox">
			<span class="formheader"><h3>Recommendation 2</h3></span>
			<div class="col1">
				<p>{{ form.rec2firstname.label }}{{ form.rec2firstname }}</p>
				<p>{{ form.rec2lastname.label }}{{ form.rec2lastname }}</p>
				<p>{{ form.rec2email.label }}{{ form.rec2email }}</p>
				<p>{{ form.rec2phone.label }}{{ form.rec2phone }}</p>
			</div>		
			<div class="recommender_shortanswer">
				{{ form.rec2how.label }}<p>{{ form.rec2how }}</p>
			</div>
		</div>


		<div class="recommenderbox">
			<span class="formheader"><h3>Recommendation 3</h3></span>
			<div class="col1">
				<p>{{ form.rec3firstname.label }}{{ form.rec3firstname }}</p>
				<p>{{ form.rec3lastname.label }}{{ form.rec3lastname }}</p>
				<p>{{ form.rec3email.label }}{{ form.rec3email }}</p>
				<p>{{ form.rec3phone.label }}{{ form.rec3phone }}</p>
			</div>		
			<div class="recommender_shortanswer">
				{{ form.rec3how.label }}<p>{{ form.rec3how }}</p>
			</div>
		</div>

		<button type="submit" class="advance"><span id="finished">FINISHED?</span>Click here to see if anything's missing.</button>
	</form>
</div>
{% endblock %}
