{% extends "base.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader">
		<h2>Let other people tell us about you.</h2>
	</div>

	<p>We'd like to hear from three people who know you – either at home, at work, or in your community. Try to pick people who know you in different parts of your life, and who know about your passions and your skills. You'll also need to check with them first to see if they are willing to answer some questions about you.<b> When you pick your recommenders, please choose people who are not also applying to the Code for Progress program as students.</b></p>

	<p>If you give us their name, email address, and phone number, we'll send them some questions about you and let them know how to get us the answers.</p>
	
	<p>We'll send those emails as soon as you submit your whole application, and we may also call your recommenders to make sure they received our messages. You can help us by double-checking the email addresses you write on this form, so that we are sending notes to the right places.
	
	<p>After that, you'll just need to check with your recommenders to make sure they give us their answers before January 20th. That means you should turn in your application early - so your recommenders will have time to do their part. After you submit your application, you'll also be able to log back on to see which recommenders have finished their applications.</p>

	{%if form.errors %}
		<br>
		<p style="color:red">Looks like something's missing from your form:<br>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <br><span style="margin-left:15px">- We'd like to know {{ error }}!</span>
            {% endfor %}
        {% endfor %}
		</p>
	{% endif %}


	<form action="" method="post" name="recommendations">
		{{form.hidden_tag()}}
		<div class="recommenderbox">
			<span class="formheader"><h3>Recommendation 1</h3></span>
			<div class="col1">
				<p><label>First name</label>{{ form.rec1firstname }}</p>
				<p><label>Last name</label>{{ form.rec1lastname }}</p>
				<p><label>Email</label>{{ form.rec1email }}</p>
				<p><label>Phone</labe>{{ form.rec1phone }}</p>
			</div>		
			<div class="recommender_shortanswer">
				<label>How do you know this person?</label><p>{{ form.rec1how }}</p>
			</div>
		</div>


		<div class="recommenderbox">
			<span class="formheader"><h3>Recommendation 2</h3></span>
			<div class="col1">
				<p><label>First name</label>{{ form.rec2firstname }}</p>
				<p><label>Last name</label>{{ form.rec2lastname }}</p>
				<p><label>Email</label>{{ form.rec2email }}</p>
				<p><label>Phone</labe>{{ form.rec2phone }}</p>
			</div>		
			<div class="recommender_shortanswer">
				<label>How do you know this person?</label><p>{{ form.rec2how }}</p>
			</div>
		</div>


		<div class="recommenderbox">
			<span class="formheader"><h3>Recommendation 3</h3></span>
			<div class="col1">
				<p><label>First name</label>{{ form.rec3firstname }}</p>
				<p><label>Last name</label>{{ form.rec3lastname }}</p>
				<p><label>Email</label>{{ form.rec3email }}</p>
				<p><label>Phone</labe>{{ form.rec3phone }}</p>
			</div>		
			<div class="recommender_shortanswer">
				<label>How do you know this person?</label><p>{{ form.rec3how }}</p>
			</div>
		</div>

		<button type="submit" class="advance"><span id="finished">FINISHED?</span>Click here to see if anything's missing.</button>
	</form>
</div>
{% endblock %}
